
body{
	background-size: 100%;
    background-repeat: no-repeat;
    color: rgb(61, 61, 61);
    background-color: #f1f2f3;
}
* {
	box-sizing: border-box;
}
img { 
    height: 150px;
    width: 150px;
}
.btn {
    margin: 3px;
    box-shadow: 2px 2px 1px -1px rgba(0, 0, 0, 0.2), 2px 2px 1px -1px rgba(0, 0, 0, 0.14), 2px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.gifDiv{
    float: left;
    margin: 3px;
}

.jumbotron  {
    text-align: center;
    background-color: #f1f2f3;
}
